n8n-workflows/whatsapp-multi-tenant-orchestrator.json
{
  "name": "WhatsApp Multi-Tenant Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receiver",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-multi-tenant"
    },
    {
      "parameters": {
        "functionCode": "// Multi-Tenant Detection & Routing\nconst incomingData = $input.all()[0].json;\n\n// Extract WhatsApp message data\nconst messageData = {\n  from: incomingData.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.from,\n  to: incomingData.entry?.[0]?.changes?.[0]?.value?.metadata?.phone_number_id,\n  message: incomingData.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body,\n  messageId: incomingData.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id,\n  timestamp: incomingData.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.timestamp,\n  messageType: incomingData.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.type\n};\n\n// Tenant Configuration\nconst TENANTS = {\n  'mister-phone': {\n    name: 'Mister Phone TEC',\n    phoneId: $env.WHATSAPP_PHONE_MISTERPHONE,\n    token: $env.WHATSAPP_TOKEN_MISTERPHONE,\n    base44AgentId: $env.BASE44_AGENT_MISTERPHONE,\n    maxRetries: 2,\n    circuitTimeout: 30000\n  },\n  'ripara-subito': {\n    name: 'Ripara Subito TEC',\n    phoneId: $env.WHATSAPP_PHONE_RIPARASUBITO,\n    token: $env.WHATSAPP_TOKEN_RIPARASUBITO,\n    base44AgentId: $env.BASE44_AGENT_RIPARASUBITO,\n    maxRetries: 2,\n    circuitTimeout: 30000\n  }\n};\n\n// Detect tenant based on recipient phone\nlet tenantId = null;\nfor (const [id, config] of Object.entries(TENANTS)) {\n  if (config.phoneId === messageData.to) {\n    tenantId = id;\n    break;\n  }\n}\n\nif (!tenantId) {\n  throw new Error(`Unknown tenant for phone: ${messageData.to}`);\n}\n\nconst tenant = TENANTS[tenantId];\n\n// Generate conversation ID\nconst conversationId = `${tenantId}-${messageData.from}-${Date.now()}`;\n\n// Check if message is valid (anti-spam, length, etc.)\nconst isValidMessage = \n  messageData.message && \n  messageData.message.length > 0 && \n  messageData.message.length <= 4096 &&\n  messageData.messageType === 'text';\n\nif (!isValidMessage) {\n  return [{\n    json: {\n      error: true,\n      reason: 'invalid_message',\n      conversationId,\n      tenantId,\n      messageData\n    }\n  }];\n}\n\n// Return structured data for next nodes\nreturn [{\n  json: {\n    conversationId,\n    tenantId,\n    tenantName: tenant.name,\n    tenantConfig: tenant,\n    customer: {\n      phone: messageData.from,\n      message: messageData.message,\n      messageId: messageData.messageId,\n      timestamp: messageData.timestamp\n    },\n    retryCount: 0,\n    escalated: false,\n    error: false\n  }\n}];"
      },
      "id": "tenant-detector",
      "name": "Tenant Detection & Validation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error}}",
              "value2": false
            }
          ]
        }
      },
      "id": "message-validator",
      "name": "Message Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Store conversation in Supabase\nconst data = $input.all()[0].json;\n\n// Check existing conversation history\nconst conversationKey = `${data.tenantId}:${data.customer.phone}`;\n\n// Get or create conversation context\nlet conversationHistory = $getWorkflowStaticData('global')[conversationKey] || [];\n\n// Add current message to history\nconversationHistory.push({\n  timestamp: data.customer.timestamp,\n  message: data.customer.message,\n  from: 'customer'\n});\n\n// Keep only last 10 messages for context\nif (conversationHistory.length > 10) {\n  conversationHistory = conversationHistory.slice(-10);\n}\n\n// Store updated history\n$getWorkflowStaticData('global')[conversationKey] = conversationHistory;\n\n// Return data with history\nreturn [{\n  json: {\n    ...data,\n    conversationHistory\n  }\n}];"
      },
      "id": "conversation-store",
      "name": "Load Conversation Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "https://api.base44.com/v1/agents/{{$json.tenantConfig.base44AgentId}}/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json.tenantConfig.base44ApiKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{$json.customer.message}}"
            },
            {
              "name": "conversation_id",
              "value": "={{$json.conversationId}}"
            },
            {
              "name": "context",
              "value": "={{JSON.stringify($json.conversationHistory)}}"
            },
            {
              "name": "mode",
              "value": "chat"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "base44-ai-call",
      "name": "Base44 AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200],
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.error}}",
              "operation": "notExists"
            }
          ]
        }
      },
      "id": "ai-response-check",
      "name": "AI Response OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "functionCode": "// Circuit Breaker Logic\nconst data = $input.all()[0].json;\nconst conversationKey = `${data.tenantId}:${data.customer.phone}`;\nconst retryKey = `${conversationKey}:retry`;\n\n// Get current retry count\nconst staticData = $getWorkflowStaticData('global');\nlet retryCount = staticData[retryKey] || 0;\nretryCount++;\n\n// Store updated retry count\nstaticData[retryKey] = retryCount;\n\n// Check if max retries exceeded\nconst maxRetries = data.tenantConfig.maxRetries || 2;\nconst shouldEscalate = retryCount > maxRetries;\n\n// Log error\nconsole.error(`[Circuit Breaker] Tenant: ${data.tenantId}, Retry: ${retryCount}/${maxRetries}`);\n\nif (shouldEscalate) {\n  // Reset retry count\n  staticData[retryKey] = 0;\n  \n  return [{\n    json: {\n      ...data,\n      retryCount,\n      escalated: true,\n      escalationReason: 'retry_limit_exceeded',\n      escalationPriority: 'HIGH'\n    }\n  }];\n} else {\n  // Retry with exponential backoff\n  const backoffMs = Math.pow(2, retryCount) * 1000; // 2s, 4s, 8s...\n  \n  return [{\n    json: {\n      ...data,\n      retryCount,\n      escalated: false,\n      retryAfterMs: backoffMs\n    }\n  }];\n}"
      },
      "id": "circuit-breaker",
      "name": "Circuit Breaker",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.escalated}}",
              "value2": true
            }
          ]
        }
      },
      "id": "should-escalate",
      "name": "Should Escalate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 350]
    },
    {
      "parameters": {
        "functionCode": "// Escalation Handler\nconst data = $input.all()[0].json;\n\n// Create escalation ticket\nconst escalationData = {\n  ticketId: `ESC-${Date.now()}`,\n  conversationId: data.conversationId,\n  tenantId: data.tenantId,\n  tenantName: data.tenantName,\n  customer: data.customer,\n  reason: data.escalationReason,\n  priority: data.escalationPriority,\n  conversationHistory: data.conversationHistory,\n  timestamp: new Date().toISOString(),\n  status: 'PENDING_OPERATOR'\n};\n\n// Send notification to operator (Telegram/Email/SMS)\n// This will be handled by next node\n\nreturn [{\n  json: escalationData\n}];"
      },
      "id": "escalation-handler",
      "name": "Create Escalation Ticket",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 450]
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$env.TELEGRAM_OPERATOR_CHAT_ID}}"
            },
            {
              "name": "text",
              "value": "🚨 ESCALATION ALERT\\n\\nTenant: {{$json.tenantName}}\\nCustomer: {{$json.customer.phone}}\\nReason: {{$json.reason}}\\nPriority: {{$json.priority}}\\n\\nLast message: {{$json.customer.message}}\\n\\nTicket ID: {{$json.ticketId}}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        }
      },
      "id": "notify-operator",
      "name": "Notify Operator (Telegram)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 450]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$json.tenantConfig.phoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json.tenantConfig.token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.customer.phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "{\"body\": \"Un nostro operatore ti contatterà a breve. Grazie per la pazienza! 🙏\"}"
            }
          ]
        }
      },
      "id": "send-escalation-message",
      "name": "Send Escalation Message to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 550]
    },
    {
      "parameters": {
        "functionCode": "// Success Handler\nconst data = $input.all()[0].json;\nconst aiResponse = data.response || data.message || \"Mi scuso, non ho capito. Puoi riformulare?\";\n\n// Extract AI confidence if available\nconst confidence = data.confidence || 0.8;\n\n// Store response in conversation history\nconst conversationKey = `${data.tenantId}:${data.customer.phone}`;\nconst staticData = $getWorkflowStaticData('global');\nlet conversationHistory = staticData[conversationKey] || [];\n\nconversationHistory.push({\n  timestamp: new Date().toISOString(),\n  message: aiResponse,\n  from: 'ai',\n  confidence: confidence\n});\n\nstaticData[conversationKey] = conversationHistory;\n\n// Reset retry count on success\nconst retryKey = `${conversationKey}:retry`;\nstaticData[retryKey] = 0;\n\n// Check if confidence is too low (< 70%) - may need escalation\nconst needsEscalation = confidence < 0.7;\n\nreturn [{\n  json: {\n    ...data,\n    aiResponse,\n    confidence,\n    needsEscalation,\n    conversationHistory\n  }\n}];"
      },
      "id": "success-handler",
      "name": "Process AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 100]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{$json.tenantConfig.phoneId}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json.tenantConfig.token}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.customer.phone}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "{\"body\": \"{{$json.aiResponse}}\"}"
            }
          ]
        }
      },
      "id": "send-whatsapp-response",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Message processed\"}"
      },
      "id": "webhook-response-success",
      "name": "Webhook Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1850, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"escalated\", \"ticket_id\": \"{{$json.ticketId}}\"}"
      },
      "id": "webhook-response-escalated",
      "name": "Webhook Response Escalated",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 450]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={\"status\": \"error\", \"reason\": \"{{$json.reason}}\"}"
      },
      "id": "webhook-response-error",
      "name": "Webhook Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Tenant Detection & Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant Detection & Validation": {
      "main": [
        [
          {
            "node": "Message Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Valid?": {
      "main": [
        [
          {
            "node": "Load Conversation Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Conversation Context": {
      "main": [
        [
          {
            "node": "Base44 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base44 AI Agent": {
      "main": [
        [
          {
            "node": "AI Response OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Response OK?": {
      "main": [
        [
          {
            "node": "Process AI Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Circuit Breaker": {
      "main": [
        [
          {
            "node": "Should Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Escalate?": {
      "main": [
        [
          {
            "node": "Create Escalation Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Base44 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Escalation Ticket": {
      "main": [
        [
          {
            "node": "Notify Operator (Telegram)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Escalation Message to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Operator (Telegram)": {
      "main": [
        [
          {
            "node": "Webhook Response Escalated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process AI Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        [
          {
            "node": "Webhook Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "whatsapp-multi-tenant-orchestrator",
  "meta": {
    "instanceId": "waipro-n8n"
  },
  "tags": [
    {
      "name": "whatsapp",
      "id": "1"
    },
    {
      "name": "multi-tenant",
      "id": "2"
    },
    {
      "name": "ai-automation",
      "id": "3"
    }
  ]
}
